<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="STD" value="\\netapp4\home$\wildridgeb\XML Backup\STD"/>
		<add key="WEST" value="\\netapp4\home$\wildridgeb\XML Backup\WEST"/>
		<add key="MULTIW" value="\\netapp4\home$\wildridgeb\XML Backup\MULTIW"/>
		<add key="MULTIE" value="\\netapp4\home$\wildridgeb\XML Backup\MULTIE"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>