<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="STD" value="C:\STD"/>
		<add key="WEST" value="C:\WEST"/>
		<add key="MULTIW" value="C:\MULTIW"/>
		<add key="MULTIE" value="C:\MULTIE"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>